<?xml version="1.0"?>
<launch>

    <node name="robot_ui" pkg="robot_communication" type="robot_ui.py"/>

    <node name="offline_trajectory_node" pkg="trajectory_generation" type="generate_trajectory"/>

    <node name="test_robot_ui" pkg="robot_communication" type="test_robot_ui.py" output="screen"/>
    
</launch>